@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 1000; /* Adjust the z-index as needed */
}

section {
  flex: 1;
  padding: 2rem;
}

footer {
  margin-top: auto;
  padding: 1rem;
}

